/* Alert Success message */
#success-message {
    transition: opacity 0.5s ease-out;
}
.ml-n5 {
    margin-left: -5px !important;
}
.mr-n5 {
    margin-right: -5rem;
}
/* ck-editor-eye */
.ck-editor__editable_inline {
    min-height: 400px;
}

/**
ck editor error
**/
.ck-editor-border-error {
    border: 1px solid red !important;
}
/* for password eye */
#eye-password-container {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: end;
}
.field-icon {
    padding: 0.6875rem 0.75rem;
    position: absolute;
    cursor: pointer;
}
/** logo bulletin template */
.logo-bulletin {
    height: 150px;
    width: 150px;
    object-fit: contain;
}
.bulletin-date-footer {
    margin-top: 150px !important;
}
/** scroll bar styling **/
/* Modern browsers with `scrollbar-*` support */
@supports (scrollbar-width: auto) {
    body {
      scrollbar-width: thin; /* Set the width of the scrollbar */
      scrollbar-color: white black; /* Set the color of the thumb and track */
    }
}

/* Legacy browsers with `::-webkit-scrollbar-*` support */
@supports selector(::-webkit-scrollbar) {
    body::-webkit-scrollbar-thumb {
      background: black; /* Set the color of the thumb */
    }
    body::-webkit-scrollbar-track {
      background: black; /* Set the color of the track */
    }
    body::-webkit-scrollbar {
      width: 1px; /* Set the width of the scrollbar */
    }
}