.footer-bulletin {
    width: 100%;
    height: 80px;
    display: block;
}
.footer-bulletin-credit {
    height: auto;
    margin-top: 43.5px;
    width: 100%;
    display: block;
    border-top: 2px solid rgb(13, 13, 13);
}